[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
Flask-RESTful = "*"
flask-swagger-ui = "*"
marshmallow-sqlalchemy = "*"
flask-debugtoolbar = "*"
Flask-Login = "*"
coverage = "*"
gunicorn = "*"
PyJWT = "*"
Flask-JWT-Extended = "*"
cryptography = "*"
pycodestyle = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
